<li>
	{{burger_name}}

	<button class="change-eaten" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}OM NOM NOM!{{else}}Order Again!{{/if}}
	</button>
	<button class="delete" data-id="{{id}}">Delete</button>
</li>
