<li>
	{{burger_name}}

	<button class="change-eaten" data-id="{{id}}" data-neweaten="{{devoured}}">
		{{#if devoured}}OM NOM NOM{{else}}ON THE MENU{{/if}}
	</button>
	<button class="delete" data-id="{{id}}">Delete</button>
</li>
